footer {
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    border-top: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 0;
}
footer span {
    color: black;
    font-size: 1.2em;
}